{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "proseWrap": "never",
  "endOfLine": "lf",

  "overrides": [
    {
      "files": ["*.xml", "*.krpano", "*.vtour", "*.svg"],
      "options": {
        "parser": "xml",
        "plugins": ["@prettier/plugin-xml"],

        "xmlWhitespaceSensitivity": "ignore",
        "xmlSelfClosingSpace": true,
        "xmlQuoteAttributes": "double",

        "bracketSameLine": false
      }
    }
  ]
}
